doctype html
html
	head
		meta(charset='utf8')
		title 管理页
		include ../head/head.pug
	body
		include ../head/header.pug

		div.admin
			div.admin-container
				div.admin-box
					div.admin-article
						a.color-primary(href='/article/list') 文章管理
					div.admin-user
						a.color-primary(href='/user/list') 用户管理
					div.admin-addArticle
						a.color-primary(href='/article/add') 添加文章