doctype html
html
	head
		meta(charset='utf8')
		title 用户管理页
		include ../head/head.pug
	body
		include ../head/header.pug

		div.userList#userList
			div.userList-container
				div.userList-box
					div.userList-label
						div.userList-name 用户名
						div.userList-role 权限
						div.userList-del 操作
					each user in data
						div.userList-label
							input(type='hidden', value=user._id)
							div.userList-name #{user.username}
							div.userList-role #{user.role}
							div.userList-del 
								a.color-danger(href='javascript:;', @click='userDel($event)') 删除

		include ../head/script.pug
		script(src='/minjs/userList.min.js')